%h3 About
%b= @user.name 
%p= "is changing the world."
- unless @user == current_user
    = follow_buttons(current_user, @user)

%h3 People you are following
- if @user.followees.empty?
    %p You are following noone.
- else
    %ul
        - @user.followees.each do |user|
            %li= link_to user.name, user

%h3 People who are following you
- if @user.followers.empty?
    %p Noone is following you.
- else
    %ul
        - @user.followers.each do |user|
            %li= link_to user.name, user
		
%h3 Posts
- @user.posts.each do |post|
    .post
        #title
            %b Title
            = post.title
        #description
            %b Description
            = post.description
        #link
            = link_to post.link, post.link
        = image_tag post.image.url(:small)
        %hr
        %br