= form_for @post do |f|
    %div
        = f.file_field :image
    %div
        = f.text_field :title
    %div
        = f.text_field :link
    %div
        = f.text_area :description
    %div
        %label In progress
        = f.radio_button :status, 'in_progress', checked: true
        %label Completed
        = f.radio_button :status, 'completed'
	
    = f.submit :submit
