.row
	.threecol
		%b This is your first column containing user data.
		- if user_signed_in?
			%p#intro
			Hello
			= current_user.name
			%br/
			%span
				Change the world, and be inspired by other. Social Media for Social Action.
		- else
			%p#intro
				Be Inspired.
			%br/
			%span 
				Change the World
	.sixcol
		%b This is your second column with all the posts in the database.
		- @posts.each do |post| 
			.post
				.post_image
				= link_to (image_tag post.image.url (:small)), post
				.post_content
					.title
						%h2= link_to post.title, post
					%p.username
						Shared by
						= post.user.name
					%p.buttons
						%span
							%i.fa.fa-comments-o
							= post.comments.count
						%span
							%i.fa.fa-thumbs-o-up
							= post.get_likes.size
	.threecol.last
		%b This is your third column with no content.
			
		
